.Footer {
  background-color: #333333;
  width: 100%;
  color: white;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 100%;
}

.Footer-Link {
  flex: 1;
  color: white;
  text-decoration: none;
  font-size: 32px;
}

.Footer-Link:visited {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .Footer {
    flex-direction: column;
    padding: 10px;
  }

  .Footer-Link {
    font-size: 16px;
  }
}